<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/网易在线笔试2  字符串转数组  最大公约数/src/网易在线笔试2/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="网易在线笔试2.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="网易在线笔试2  字符串转数组  最大公约数"/>
</launchConfiguration>
